- 
  var name = "Ayman"
  //- Ayman
  var service = "Front-End-Developer"
  //- Programmer
  var age = "13"
  //- 13
  var experience = "expert" 
  //- expert
  var makes = "Template"
  //- Template
  var firstList = "Home"
  //- Home
  var secondList = makes + 's'
  //- About
  var thirdList = "Services"
  //- Portifolio
  var serviceOne = "Qiuck Service"
  //- Qiuck Service
  var serviceOneInfo = "We Support Very Qiuck Services"
  //- We Support Very Qiuck Services
  var serviceTwo = "professional Designs"
  //- professional Designs
  var serviceTwoInfo = "We Support professional Designs"
  //- We Support professional Designs
  var serviceThree = "Clean Code"
  //- Clean Code
  var serviceThreeInfo = "We Support Very Clean Code"
  //- We Support Very Clean Code
  var inputName = "true"
  //- true